body {
    margin: 90px auto;
    width: 80%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: #0000A0;
    overflow: hidden;
}
li{
    margin-right: 30px;
    float: left;
}
nav li a:hover:not(.active) {
    background-color: ;
}
.active {
    color: #FF00FF;
}
a {
    text-decoration: none;
    color: #FF00FF;
}
li a, .dropbtn {
    display: block;
    color: ;
    text-align: center;
    padding: 12px 22px;
    text-decoration: none;
}
h1 {
    font-size: 2.0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}
h2{
    font-size: .5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    
}
h3{
    font-size: 1.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
    background-color: #0000A0;
}
h4{
    font-size: 1.0em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
    background-color: #0000A0;
}

.dropbtn a:hover {background-color: #0000A0}
.show {display: inline;}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
}
footer {
    border-top: 4px solid #848482;
    font-size: .8em;
    text-align: center;
}
footer ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    list-style: none;
    font-weight: bold;
    background-color: #0000A0;
}
footer ul a{
    line-height: 1.4em;
    color: #625D5D;
    text-decoration: none;
}
footer ul p {
    color: #000000;
}

