<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body background="/background.png" alt="image" width="50%" margin="auto">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/classes">Classes</a></li>
					<li><a href="/translation">Translation</a></li>
					<li><a href="/bio">Professional Bio</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
			
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			
			<footer>
	    			<ul>
	        		Copyright © 2017 Krysney Alves Fonseca. Design by <h2><a href="https://nichrishayes.github.io">Nicholas Christopher-Hayes.</a></h2>
				</ul>
			</footer>
		</body>
	</html>
